.input {
  min-width: 300px;
  margin-bottom: 15px;
  height: 25px;
}

.cvv {
  margin-left: 15px;
  height: 25px;
}

.submit {
  margin-top: 15px;
  background: #ec9090;
  height: 30px;
}

.month {
  height: 25px;
}

.card-block {
  margin-bottom: "15px";
  width: "300px";
}

.card {
  background: "green";
}

.card-name {
  color: "white";
}
